<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ljinwu.adb</string>
	<key>connections</key>
	<dict>
		<key>0DEF7D90-0294-4CF9-BC13-A83EFE78EA85</key>
		<array/>
		<key>14AC752A-E6D5-412C-94B3-FBE75CD7F278</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35D2B4BB-A8D5-4083-BA7C-095C3B75E75C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>157E4678-DE9E-48C0-90B9-FC7CDE648C0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90010D65-46C0-4324-9E58-53A139B15026</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>475FC30A-CA6B-4B56-B850-EB0F14BC7A37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D14D8B94-5B77-49FF-AABB-124E3F735736</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>uninstall</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>535D9094-B411-4C68-8BF8-DAD675001CF1</key>
		<array/>
		<key>5F49A37B-009B-4519-9564-537E0D6AF6AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>535D9094-B411-4C68-8BF8-DAD675001CF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68423160-6DC6-4631-BDDB-CDB83BE6027D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>157E4678-DE9E-48C0-90B9-FC7CDE648C0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90010D65-46C0-4324-9E58-53A139B15026</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59B7BF77-CC77-4B41-A0A2-D16C71555BFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A02E3FB7-52C4-4D3D-8468-AE4D87080A7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DEF7D90-0294-4CF9-BC13-A83EFE78EA85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C768F72C-C8B0-4EBD-A2CE-7A195A1BBD74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB82AF03-EE53-4A08-8C56-73286784D3C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAEA4FF1-D969-4CA6-AB13-E1BD98020B72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F84C7757-9EF9-4886-ABB4-C5ED3BA3B03D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB82AF03-EE53-4A08-8C56-73286784D3C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E395F318-45B0-41BE-99C0-DAF13DA90EE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14AC752A-E6D5-412C-94B3-FBE75CD7F278</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D14D8B94-5B77-49FF-AABB-124E3F735736</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFD71353-3886-4689-BD87-52B4D11A4618</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CAEA4FF1-D969-4CA6-AB13-E1BD98020B72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D94D93FF-06D1-42B1-9064-665FF5E33DBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D14D8B94-5B77-49FF-AABB-124E3F735736</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E395F318-45B0-41BE-99C0-DAF13DA90EE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FED35F5-762F-4D67-AFB9-352575E014B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F837C24D-7D45-49CF-843D-35132FFAE4A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A02E3FB7-52C4-4D3D-8468-AE4D87080A7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFD71353-3886-4689-BD87-52B4D11A4618</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43D788D6-1282-4526-AE2C-2F3FBB308CC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jinwu liu</string>
	<key>description</key>
	<string>v1.0</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ADB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please check your android sdk environment path.</string>
				<key>title</key>
				<string>Open Android SDK Manager Failed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>59B7BF77-CC77-4B41-A0A2-D16C71555BFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>adbandroidsdk</string>
				<key>subtext</key>
				<string>terminal - android sdk</string>
				<key>text</key>
				<string>Open Android SDK Manager</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68423160-6DC6-4631-BDDB-CDB83BE6027D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ~/.bash_profile

which android
if [ $? -eq 0 ]; then
	android sdk
else
	echo -n 'false'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>157E4678-DE9E-48C0-90B9-FC7CDE648C0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>false</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>90010D65-46C0-4324-9E58-53A139B15026</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>adblistpackage</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>python ls.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>terminal - adb shell pm list packages -3</string>
				<key>title</key>
				<string>List Third Party Package</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>475FC30A-CA6B-4B56-B850-EB0F14BC7A37</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Uninstall Failed!</string>
				<key>title</key>
				<string>Sorry</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>43D788D6-1282-4526-AE2C-2F3FBB308CC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>false</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FFD71353-3886-4689-BD87-52B4D11A4618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
source ~/.bash_profile

which adb
result=$?

if [ $result -eq 0 ]; then
	adb uninstall $query
	result=$?
fi

if [ $result -eq 0 ]; then
	echo -n 'true'
else
	echo -n 'false'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D14D8B94-5B77-49FF-AABB-124E3F735736</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>adbuninstall</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>python ls.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>terminal - adb uninstall &lt;package id&gt;</string>
				<key>title</key>
				<string>Uninstall Third Party Package</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D94D93FF-06D1-42B1-9064-665FF5E33DBE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Uninstall Success!</string>
				<key>title</key>
				<string>Congratulations.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F84C7757-9EF9-4886-ABB4-C5ED3BA3B03D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>false</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CAEA4FF1-D969-4CA6-AB13-E1BD98020B72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
if [ -z $query ]; then
	query=`date '+%Y%m%d%H%M%S'`.png
else
	query=${query}.png
fi

source ~/.bash_profile
adb shell screencap /sdcard/${query}
adb pull /sdcard/${query} ~/Desktop/${query}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>535D9094-B411-4C68-8BF8-DAD675001CF1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>adbscreencap</string>
				<key>subtext</key>
				<string>termial - adb shell screencap &lt;path&gt;</string>
				<key>text</key>
				<string>Take Screenshot</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5F49A37B-009B-4519-9564-537E0D6AF6AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>adb shell screenrecord --verbose /sdcard/{query}; kill %1; sleep 1; adb pull /sdcard/{query} ~/Desktop/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>0DEF7D90-0294-4CF9-BC13-A83EFE78EA85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
if [ -z $query ]; then
	query=`date '+%Y%m%d%H%M%S'`.mp4
else
	query=${query}.mp4
fi
echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A02E3FB7-52C4-4D3D-8468-AE4D87080A7D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>adbscreenrecord</string>
				<key>subtext</key>
				<string>termial - adb shell screenrecord &lt;path&gt; &amp; press 'ctrl + z' to finish</string>
				<key>text</key>
				<string>Record Video</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F837C24D-7D45-49CF-843D-35132FFAE4A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Install Failed!</string>
				<key>title</key>
				<string>Sorry</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9FED35F5-762F-4D67-AFB9-352575E014B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>false</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E395F318-45B0-41BE-99C0-DAF13DA90EE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>dyn.ah62d4rv4ge80c6dp</string>
				</array>
				<key>name</key>
				<string>Install To Android Phone</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C768F72C-C8B0-4EBD-A2CE-7A195A1BBD74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
source ~/.bash_profile

which adb
result=$?

if [ $result -eq 0 ]; then
	adb install $query
	result=$?
fi

if [ $result -eq 0 ]; then
	echo -n 'true'
else
	echo -n 'false'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB82AF03-EE53-4A08-8C56-73286784D3C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Install Success!</string>
				<key>title</key>
				<string>Congratulations.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>35D2B4BB-A8D5-4083-BA7C-095C3B75E75C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>false</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>14AC752A-E6D5-412C-94B3-FBE75CD7F278</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0DEF7D90-0294-4CF9-BC13-A83EFE78EA85</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>14AC752A-E6D5-412C-94B3-FBE75CD7F278</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>157E4678-DE9E-48C0-90B9-FC7CDE648C0F</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>35D2B4BB-A8D5-4083-BA7C-095C3B75E75C</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>43D788D6-1282-4526-AE2C-2F3FBB308CC6</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>475FC30A-CA6B-4B56-B850-EB0F14BC7A37</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>535D9094-B411-4C68-8BF8-DAD675001CF1</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>59B7BF77-CC77-4B41-A0A2-D16C71555BFB</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>5F49A37B-009B-4519-9564-537E0D6AF6AD</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>68423160-6DC6-4631-BDDB-CDB83BE6027D</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>90010D65-46C0-4324-9E58-53A139B15026</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>9FED35F5-762F-4D67-AFB9-352575E014B7</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>A02E3FB7-52C4-4D3D-8468-AE4D87080A7D</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>C768F72C-C8B0-4EBD-A2CE-7A195A1BBD74</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>CAEA4FF1-D969-4CA6-AB13-E1BD98020B72</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>CB82AF03-EE53-4A08-8C56-73286784D3C5</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>D14D8B94-5B77-49FF-AABB-124E3F735736</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>D94D93FF-06D1-42B1-9064-665FF5E33DBE</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>E395F318-45B0-41BE-99C0-DAF13DA90EE1</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>F837C24D-7D45-49CF-843D-35132FFAE4A0</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>F84C7757-9EF9-4886-ABB4-C5ED3BA3B03D</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>FFD71353-3886-4689-BD87-52B4D11A4618</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ljinwu</string>
</dict>
</plist>
