<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ljinwu.qq</string>
	<key>connections</key>
	<dict>
		<key>D9962597-A790-4703-81B4-CCA2EE073ABA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC310523-01BD-4796-880E-2A0173F4B81E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jinwu liu</string>
	<key>description</key>
	<string>v1.0</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QQ</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>tencent://message/?uin={query}service=sigT=</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EC310523-01BD-4796-880E-2A0173F4B81E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"ee901dea77ecd80993351af69c4d925a5521a39e.png","title":"L刘二","arg":"1134251050","subtitle":"QQ:1134251050"},{"imagefile":"09160c253b0cb5f6dde5b852c2c04a54e0aedd38.png","title":"Z张三","arg":"1134251051","subtitle":"QQ:1134251051"},{"imagefile":"e816cc09d43936225578593b6b12e42e0aa19c6f.png","title":"L李四","arg":"1134251052","subtitle":"QQ:1134251052"},{"imagefile":"8e9665916b1574747cad910b78955a58380c8a75.png","title":"W王五","arg":"1134251053","subtitle":"QQ:1134251053"}]</string>
				<key>keyword</key>
				<string>qq</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Chat With QQ</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D9962597-A790-4703-81B4-CCA2EE073ABA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>D9962597-A790-4703-81B4-CCA2EE073ABA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>EC310523-01BD-4796-880E-2A0173F4B81E</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ljinwu</string>
</dict>
</plist>
