<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ljinwu.smb</string>
	<key>connections</key>
	<dict>
		<key>1B17E4CE-FC90-4005-B1DB-C9AFF231D400</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF107CA5-81FC-44D3-9F3E-A7D3019E11CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EB2BDEB-D9FC-41A2-9B9E-4E75998B475B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCD6DE3D-059F-415B-AF81-DE9C78BD3A10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF107CA5-81FC-44D3-9F3E-A7D3019E11CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCD6DE3D-059F-415B-AF81-DE9C78BD3A10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jinwu liu</string>
	<key>description</key>
	<string>v1.0.0</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SMB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>smb</string>
				<key>subtext</key>
				<string>smb://</string>
				<key>text</key>
				<string>File Sharing - Input IP</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B17E4CE-FC90-4005-B1DB-C9AFF231D400</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>smb://{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AF107CA5-81FC-44D3-9F3E-A7D3019E11CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BCD6DE3D-059F-415B-AF81-DE9C78BD3A10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"File Sharing - The Build Machine","arg":"smb:\/\/192.168.131.0","subtitle":"smb:\/\/192.168.131.0"}]</string>
				<key>keyword</key>
				<string>smb</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>with smb protocol</string>
				<key>title</key>
				<string>File Sharing</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>9EB2BDEB-D9FC-41A2-9B9E-4E75998B475B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B17E4CE-FC90-4005-B1DB-C9AFF231D400</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>9EB2BDEB-D9FC-41A2-9B9E-4E75998B475B</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>AF107CA5-81FC-44D3-9F3E-A7D3019E11CC</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>BCD6DE3D-059F-415B-AF81-DE9C78BD3A10</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ljinwu</string>
</dict>
</plist>
